h1 {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  list-style: 1;
  margin-bottom: 0;
}

#first-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
}

.first:first-letter {
  text-transform: capitalize;
}

#second-list {
  list-style: none;
}

#icon {
  width: 90px;
}

#temperature {
  font-size: 50px;
}

#units {
  margin-top: 20px;
  position: relative;
  font-size: 15px;
  top: -22px;
}

.weather-app {
  max-width: 640px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #e5ebde;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.weather-city {
  margin-bottom: 20px;
}
#source-code {
  margin-top: 10px;
  text-align: center;
}

#city-search {
  width: 400px;
  height: 38.5px;
}
